body{
  font-family: 'Noto Sans KR', sans-serif;
  /* padding-left: 50px;
  padding-right: 50px; */
  height: 1080px;
}

main{
  /*! height: 1200px; */
  /*! background-image: url(../img/bg_main_02.jpg); */
  background-size: cover;
  margin-top: 50px;
}
section{
  width: 1440px;
  margin: 0 auto;
  /*! border: 3px solid #999; */
  box-sizing: border-box;
  /*! border-top: transparent; */
  /*! font-family: 'Noto Sans KR', sans-serif; */
}
.wrap{
  /*! padding-top: 200px; */
  /*! padding-bottom: 50px; */
}
.subject{
  font-weight: bold;
  /*! background-image: url(../img/companysubject-transparent.png); */
  /*! width: 220px; */
  /*! height: 70px; */
  /*! background-size: contain; */
  /*! background-repeat: no-repeat; */
  /*! background-position: center; */
  /*! text-align: center; */
  /*! line-height: 70px; */
  font-size: 35px;
}
.subject2{
  font-size: 40px;
  font-weight: 700;
}
section#about{

}
section#about .company{
  display: flex;
}
section#about .company div{
  width: 50%;
}
section#about .company div:first-child{/* :first-child  첫번째자식요소 */
  display: flex; /* 기본수평왼쪽정렬 */
  flex-direction: column; /* 수직으로 정렬 */
  justify-content: center; /* 정렬방향의 중앙배치 */
  font-family: 'Noto Sans KR', sans-serif;
}
section#about .company div:first-child+div{
  text-align: center;
}
section#about .company .subject{ 
  margin: 22px auto;
}
section#about .company h2+p{
  line-height: 1.5;
  font-size: 20px;
  /*! margin-bottom: 30px; */
  margin: 0 auto;
}
section#about .company h2 + p span{
  font-size: 35px;
}
section#about .company h2+p+p{
  line-height: 1.2;
  margin: 30px auto;
}
section#about .company .go{
  background-color: #333333;
  color: #fff;
  font-size: 13px;
  padding: 20px 20px;
  margin: auto;
}
section#about .company span.control{
  margin: 30px auto;
}
section#about .company span.control button{
  border: none;
  background-color: transparent;
  font-size: 0;
  width: 50px;
  height: 50px;
  background-size: 57%;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 1px solid;
  border-radius: 50%;
  background-position: center;
}
section#about .company span.control button.prev{
  background-image: url(../img/r-arrow.svg);
  transform: rotate(180deg);
  background-position-x: center;
  margin-right: 30px;
}
section#about .company span.control button.next{
  background-image: url(../img/r-arrow.svg);
  background-position-x: center;
}
section#about .company img{
  max-width: 100%; /* 최대크기는 원래크기만큼만 커지게 */
}
section#about .company img:hover{

}
section#about .company img:first-child + img{ /* img태그는 인라인태그 인라인태그를 중앙정렬하려면 부모요소에 text-align:center */
 
}

/* ------------------------------------서비스--------------------------------------- */
#service{

}
#service .wrap{
  padding-top: 200px;
  padding-bottom: 80px;
}
#service .wrap h2.subject{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#service .wrap h2+.p{
  margin-top: 50px;
  margin-bottom: 100px;
}
#service .wrap .p{
  text-align: center;
}
#service .wrap ul{
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  text-align: center;
}
#service .wrap ul li{
  /*! border-top: 3px solid; */
  /*! border-bottom: 3px solid; */
  /*! width: 300px; */
  /*! padding: 100px 0; */
  position: relative;
  /*! background-image: url(../img/service-1.jpg); */
  /*! background-size: contain; */
  /*! background-repeat: no-repeat; */
  /*! border-radius: 50%; */
  /*! height: 300px; */
  /*! box-sizing: border-box; */
}
#service .wrap ul li .icon{
  /*! opacity: 0; */
  /*! transition: all 0.7s; */
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #fea002;
}
#service .wrap ul li::after{
  content: "";
  width: 237px;
  height: 237px;
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 53px;
}
#service .wrap ul li:nth-child(1)::after{
  /*! background-image: url(../img/sect03-cont01.svg); */
}
#service .wrap ul li:nth-child(2)::after{
}
#service .wrap ul li:nth-child(3)::after{
  /*! background-image: url(../img/sect03-cont03.svg); */
}
#service .wrap ul li h3{
  font-size: 40px;
  margin-bottom: 69px;
  font-weight: 700;
  padding-top: 153px;
}
#service .wrap ul li h3::after{
  /*! content: ""; */
  width: 200px;
  display: block;
  border-bottom: 3px solid #ccc;
  margin: 0 auto;
  margin-top: 8px;
}
#service .wrap ul li p{
  font-size: 17px;
  line-height: 1.8;
  /*! width: 70%; */
  /*! margin: 0 auto; */
  padding: 0 60px;
}
#service .wrap ul li .overcontents{
  position: absolute;
  left: 0;
  top: 60px;
  background-color: white;
  line-height: 1.3;
  /*! display: none; */
  opacity:0; /* 투명도 */
  transition: all 0.7s; /* 변이: 값의 차이만큼 애니메이션 처리 all은 모든속성들 0.7s(초) */
}
#service .wrap ul li:hover .overcontents{
  /*   display: block; */
  opacity: 1;
  top: 0px;
}
.overcontents h3{ 
}
#service .wrap ul li .overcontents p{
  line-height: 1.5;
  font-size: 16px;
  padding: 0 14px;
}
#service .wrap ul li .overcontents p:nth-of-type(2){
  margin: 20px 0 40px;
}
#service .wrap ul li .overcontents img{
  
}

#nth{
  
}
#nth p{
  
}
#nth p:nth-child(2n+2){ /*odd 홀수번째,even은 짝수번째,n+4 4번째부터,2n+2 2번째에 2배수로*/
  background-color: red;
}


/* ---------------------------------히스토리----------------------------------- */
#history{
  background-image: url(../img/history-1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  /*! width: 1440px; */
}
#history .wrap{  
  width: 1440px;
  margin: 0 auto;
  /*! margin-left: 200px; */

}
#history .wrap hgroup{
  
}
#history .wrap hgroup h2{
  padding-top: 325px;
  margin: 0 auto;
}
#history .wrap hgroup h3{
  line-height: 1.6;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}
#history .wrap hgroup h3 span{
  display: block;
}
#history .wrap div.list{
  line-height: 2.5;
  padding-left: 0;
  /*! background-image: url(../img/e24f5bb0d1f76693907337415b41fbad.jpg); */
  background-repeat: no-repeat;
  background-size: contain;
  color: #996633;
  text-shadow: 1px 1px 2px #ff9b05;
}
#history .wrap div.list::before{
 
}
#history .wrap div.list::after{
 
}
#history .wrap div.list p{
  
}
#history .wrap div.list p:nth-child(1){
  line-height: 1;
  margin-bottom: 12px;
}
#history .wrap div.list p:nth-child(n+2){
}
#history .wrap div.list p:nth-child(1){
  line-height: 1;
  margin-bottom: 12px;
}
#history .wrap div.list p:nth-child(n+2){
}
#history .point {
  display: block;
  position: relative;
  right: 113px;
}
#history .point div.po1 {
  margin-left: 1078px;
  line-height: 2;
}

#history .point div.po1 h4 {
  font-size: 80px;
  display: flex;
}
#history .point div.po1 h4 strong {
  font-size: 40px;
  /*! color: #5d5454; */
}
#history .point div.po1 p{
  font-size: 13px;
  line-height: 2;
}
#history .point div.po1 div.list {
  font-size: 15px;
  line-height: 1.5;
  margin-left: 90px;
}
#history .point div.po1 div.list p{
 font-size: 13px;
 line-height: 2;
}
#history .point div.po2 {
  margin-left: 622px;
}
#history .point div.po2 h4 strong {
  font-size: 40px;
}
#history .point div.po2 h4 {
  font-size: 80px;
  display: flex;
}
#history .point div.po2 div.list {
  margin-left: 90px;
   line-height: 2;
}
#history .point div.po2 div.list div {
  line-height: 2;
}
#history .point div.po2 div.list p{
 font-size: 13px;
 line-height: 2;
}
#history .point div.po3 {
  margin-left: 1078px;
}
#history .point div.po3 h4 strong {
  font-size: 40px;
}
#history .point div.po3 h4 {
 font-size: 80px;
 display: flex;
}
#history .point div.po3 div.list {
  margin-left: -17px;
  font-size: 9px;
}
#history .point div.po3 div {
  line-height: 2;
}
#history .point div.po3 div.list p{
 font-size: 13px;
 line-height: 2;
}
#history .point div.po3::after{
  content: "";
  width: 50px;
  height: 550px;
  border: 5px solid #000;
  display: inline-block;
  border-top: transparent;
  border-bottom: transparent;
  border-left: transparent;
  position: absolute;
  top: 3px;
  left: 958px;
}
#history .point div.po3::before{
  content: "";
  width: 20px;
  height: 20px;
  border: 5px solid #000;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  top: 415px;
  left: 995px;
}
#history .point div.po2::before{
  content: "";
  width: 20px;
  height: 20px;
  border: 5px solid #000;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  top: 194px;
  left: 995px;
}
#history .point div.po1::before{
  content: "";
  width: 20px;
  height: 20px;
  border: 5px solid #000;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  top: 39px;
  left: 995px;
}
/* --------------------------------------찾아오는 길------------------------------ */
section#location{

}
section#location .wrap{
  width: 1440px;
  margin: 0 auto;
  display: flex;
  column-gap: 70px;
}
section#location .wrap iframe{
  border: 2px solid #000 !important;
  width: 790px;
  height: 390px;
}
section#location .wrap .right{
  background-image: url(../img/map.PNG);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 123px;
  height: 700px;
  position: relative;
  margin-top: 80px;
}
section#location .wrap .right h1{ 
  display: flex;
  justify-content: center;
  color: #cec6c6;
  font-size: 100px;
  text-align: center;
}
section#location .wrap .right h1::after{
  content: "";
  width: 900px;
  height: 10px;
  border: 2px solid #e9e8e8;
  display: inline-block;
  /*! margin-left: 10px; */
  /*! border-left: transparent; */
  /*! border-bottom: #0d0c0c00; */
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  position: absolute;
  right: 280px;
  bottom: 60px;
}
section#location .wrap .right hgroup{
  
}
section#location .wrap .right hgroup h2.subject{
  margin: 50px auto;
  justify-content: center;
  display: flex;
  font-size: 50px;
  width: 1440px;
  font-size: 60px;
  padding-top: 10px;
}
section#location .wrap .right hgroup p{  
  line-height: 3;
}
section#location .wrap .right p{  
  line-height: 2;
}
section#location .wrap .right a{
  margin-top: 248px;
  display: inline-block;
  line-height: 3;
  padding-left: calc(100% / 2);
  /*! display: block; */
  /*! width: 276px; */
  /*! line-height: 4; */
  text-align: center;
  /*! border: 1px solid; */
  margin-bottom: 40px;
}
section#location .wrap .right a::after{
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #000;
  display: inline-block;
  margin-left: 10px;
  border-left: transparent;
  border-bottom: transparent;
  transform: rotate(45deg);
}
.top_button{
  width: 80px;
  height: 80px;
  border: 2px solid #00939b;
  border-radius: 50%;
  position: fixed;
  right: 30px;
  bottom: 100px;
  text-align: center;
  /*! line-height: 118px; */
  background-color: #00939b;
}
.top_button a{ /*버튼스타일 초기화*/
  font-size: 20px;
  border: none; /* 테두리 없애기 */
  background-color: transparent; /*  배경색투명하게 */
  color: white;
}
.top_button a::before{
  content: "";
  width:10px;
  height:10px;
  display:block;
  border:2px solid white;
  border-left: transparent;
  border-bottom: transparent;
  transform: rotate(-45deg);
  margin: 20px auto 5px auto;
}






