div#title{
 color:white;
 text-shadow: 1px 1px 2px #000;
}
div#title .in{
  height: 900px; 
  width: 1440px;
  margin: 0 auto;
  /*! border: 3px solid #999; */
  border-top: transparent;
  padding-top: 136px;
  padding-left: 248px;
  box-sizing: border-box; /* padding을 주면 크기가 커지는데 크기가 커지지 않게 처리 */
  position: relative;
}

div#title h2{
  font-size: 21px;
  /* color: #A27300; */
}
div#title h2 + p{ /* + 인접선택자,형제선택자 h2다음에 오는 p */
  font-size: 50px;
  line-height: 3;
  font-weight: 1000;
}
div#title h2 + p + p{
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 1.5;
  /* color: #A27300; */
}
div#title a{ /* 인라인태그에는 padding(크기에 영향)이 정확히 적용되지 않는다.display:block로 전환 */
  border: 1px solid;
  padding: 20px 30px;
  margin-top: 30px;
  display: inline-block;
  /*! width: 250px; */
  text-align: center;
  transition: all 0.5s;
  /* color: #397e8c; */
  /*! border: dotted; */
  /*! border-width: 10px 4px; */
  /*! border-radius: 10px 40px; */
  color: white;
  text-shadow: 1px 1px 2px #000;
}
div#title a::after{
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 2px solid;
  margin-left: 10px;
  border-left: transparent;
  border-bottom: transparent;
  transform: rotate(45deg);
}
div#title a:hover{
  background-color: #000;
  color: #fff;
}
div#title .in::after{
 
}
#title .video{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#title .video iframe{
  width: 100%;
  height: 100%;
}
 div#title::before{
    content: "";
    width: 10px;
    height:10px;
    border: 2px solid #f2981b;
    border-radius: 50%;
    position: absolute;
    right: 797px;
    top: 106px;
  }
  div#title::after{
     content: "";
    width: 50px;
    height:50px;
    border: 2px solid #fd9700;
    border-radius: 50%;
    position: absolute;
    right: 712px;
    top:313px;
  }








